.inputName {
	padding-top: 9px;
	float: right;
}

.submit {
	text-align: center;
	margin: 0 auto;
}

div.zTreeDemoBackground {
	padding-top: 15px;
}

div.ztree {
	margin-top: 15px;
	border: 0px solid #617775;
	background: #EEEEEE;
	height: 570px;
	overflow-y: scroll;
	overflow-x: auto;
}