##parse("/WEB-INF/mall/admin/layout/base.html")
<!DOCTYPE html>
<html lang="zh-CN">
#parse("/WEB-INF/mall/admin/layout/header.html")
<body>
	##parse("/WEB-INF/mall/admin/layout/top.html")
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<header id="header">
					<h1 class="site_title">
						<a href="index.html">土特产供销</a>
					</h1>
				</header>
			</div>
		</div>
		<div class="row-fluid">
			##parse("/WEB-INF/mall/admin/layout/sidebar.html")
			<div class="span3">
				<div id="sidebar">
					<h3>用户管理</h3>
					<ul>
						<li><a href="${path}/admin/user/list">用户管理</a></li>
					</ul>
					<h3>酒店管理</h3>
					<ul>
						<li><a href="#">酒店管理</a></li>
					</ul>
					<h3>商品管理</h3>
					<ul>
						<li><a href="#">品牌管理</a></li>
						<li><a href="#">类目管理</a></li>
						<li><a href="#">商品管理</a></li>
					</ul>
					<h3>层级管理</h3>
					<ul>
						<li><a href="#">层级管理</a></li>
					</ul>
				</div>
			</div>
			<!-- end of sidebar -->
			<div class="span9">
				$screen_content
				##parse("/WEB-INF/mall/admin/layout/footer.html")
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<footer>
					<p>
						<strong>Copyright &copy; 杭州景忠科技有限公司</strong>
					</p>
					<p>
						Theme by <a href="http://www.medialoot.com">MediaLoot</a>
					</p>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>
