<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <context:component-scan base-package="com.bob.*.*.service"/>
    <context:component-scan base-package="com.bob.core.cache.redis"/>

    <!--初始化常量配置-->
    <bean class="com.bob.core.contants.WxConfig">
        <property name="appId" value="${wx.appId}"/>
    </bean>
    <bean class="com.bob.core.contants.BizConfig">
        <property name="appDomain" value="${sys.appDomain}"/>
        <property name="sessionTimeOut" value="${sys.sessionTimeOut}"/>
    </bean>

</beans>
