<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <context:component-scan base-package="com.bob.biz.*.service"/>

    <!--配置常量初始化(另外一种初始化赋值的方法是在ApplicationListener中执行property读取配置文件，手动解析)-->
    <bean class="com.bob.core.contants.WxConfig">
        <property name="appId" value="${wx.appId}"/>
    </bean>
    <bean class="com.bob.core.contants.AliConfig">
    </bean>
    <bean class="com.bob.core.contants.BizConfig">
        <property name="appDomain" value="${sys.appDomain}"/>
    </bean>
</beans>
