<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joyoung.biz.operaterecord.mapper.OperaterecordMapper">
    <resultMap id="BaseResultMap" type="com.joyoung.biz.operaterecord.entity.Operaterecord">
        <result column="id" property="id"/>
        <result column="createTime" property="createTime"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="lastModifyTime" property="lastModifyTime"/>
        <result column="version" property="version"/>
        <result column="actionCruf" property="actionCruf"/>
        <result column="actionLength" property="actionLength"/>
        <result column="category" property="category"/>
        <result column="dataLength" property="dataLength"/>
        <result column="fromHost" property="fromHost"/>
        <result column="isSynced" property="isSynced"/>
        <result column="linkAction" property="linkAction"/>
        <result column="linkHeader" property="linkHeader"/>
        <result column="linkLf" property="linkLf"/>
        <result column="machineId" property="machineId"/>
        <result column="playLoad" property="playLoad"/>
        <result column="playLoadStr" property="playLoadStr"/>
        <result column="productCode" property="productCode"/>
        <result column="protocolVersion" property="protocolVersion"/>
        <result column="resource" property="resource"/>
        <result column="toHost" property="toHost"/>
        <result column="uid" property="uid"/>
        <result column="appLoginType" property="appLoginType"/>
        <result column="deviceLoginType" property="deviceLoginType"/>
        <result column="originCode" property="originCode"/>
        <result column="channelOpenTime" property="channelOpenTime"/>
        <result column="lastDecodeTime" property="lastDecodeTime"/>
    </resultMap>

    <sql id="tabaleName">operaterecord</sql>

    <sql id="baseColumn">
        id,
        createTime,
        isDeleted,
        lastModifyTime,
        version,
        actionCruf,
        actionLength,
        category,
        dataLength,
        fromHost,
        isSynced,
        linkAction,
        linkHeader,
        linkLf,
        machineId,
        playLoad,
        playLoadStr,
        productCode,
        protocolVersion,
        resource,
        toHost,
        uid,
        appLoginType,
        deviceLoginType,
        originCode,
        channelOpenTime,
        lastDecodeTime
	</sql>

    <sql id="whereCondition">
        <where>
            <if test=" id != null ">
                AND id = #{id}
            </if>
            <if test=" createTime != null ">
                AND createTime = #{createTime}
            </if>
            <if test=" isDeleted != null ">
                AND isDeleted = #{isDeleted}
            </if>
            <if test=" lastModifyTime != null ">
                AND lastModifyTime = #{lastModifyTime}
            </if>
            <if test=" version != null ">
                AND version = #{version}
            </if>
            <if test=" actionCruf != null ">
                AND actionCruf = #{actionCruf}
            </if>
            <if test=" actionLength != null ">
                AND actionLength = #{actionLength}
            </if>
            <if test=" category != null ">
                AND category = #{category}
            </if>
            <if test=" dataLength != null ">
                AND dataLength = #{dataLength}
            </if>
            <if test=" fromHost != null ">
                AND fromHost = #{fromHost}
            </if>
            <if test=" isSynced != null ">
                AND isSynced = #{isSynced}
            </if>
            <if test=" linkAction != null ">
                AND linkAction = #{linkAction}
            </if>
            <if test=" linkHeader != null ">
                AND linkHeader = #{linkHeader}
            </if>
            <if test=" linkLf != null ">
                AND linkLf = #{linkLf}
            </if>
            <if test=" machineId != null ">
                AND machineId = #{machineId}
            </if>
            <if test=" playLoad != null ">
                AND playLoad = #{playLoad}
            </if>
            <if test=" playLoadStr != null ">
                AND playLoadStr = #{playLoadStr}
            </if>
            <if test=" productCode != null ">
                AND productCode = #{productCode}
            </if>
            <if test=" protocolVersion != null ">
                AND protocolVersion = #{protocolVersion}
            </if>
            <if test=" resource != null ">
                AND resource = #{resource}
            </if>
            <if test=" toHost != null ">
                AND toHost = #{toHost}
            </if>
            <if test=" uid != null ">
                AND uid = #{uid}
            </if>
            <if test=" appLoginType != null ">
                AND appLoginType = #{appLoginType}
            </if>
            <if test=" deviceLoginType != null ">
                AND deviceLoginType = #{deviceLoginType}
            </if>
            <if test=" originCode != null ">
                AND originCode = #{originCode}
            </if>
            <if test=" channelOpenTime != null ">
                AND channelOpenTime = #{channelOpenTime}
            </if>
            <if test=" lastDecodeTime != null ">
                AND lastDecodeTime = #{lastDecodeTime}
            </if>
        </where>
    </sql>

    <sql id="queryCondition">
        <where>
            <if test=" productCode != null and productCode != '' ">
                AND productCode = #{productCode}
            </if>
            <if test=" machineId != null and machineId != '' ">
                AND machineId = #{machineId}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="com.joyoung.biz.operaterecord.entity.OperaterecordQuery" resultType="java.lang.Long">
        SELECT count(*)
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
        ORDER BY lastModifyTime DESC
    </select>

    <select id="query" parameterType="com.joyoung.biz.operaterecord.entity.OperaterecordQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
        LIMIT #{startRow}, #{pageSize}
    </select>

</mapper>