<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/WEB-INF/view/layout/base.vm")
    #parse("/WEB-INF/view/layout/header.vm")
  <title>医院管理</title>
</head>
<body>
<div class="container-fluid">
    #parse("/WEB-INF/view/layout/navbar.vm")
  <div class="row">
    <div class="col-md-2">
        #parse("/WEB-INF/view/layout/menu.vm")
    </div>
    <div class="col-md-10">
      <div class="row">
        <ol class="breadcrumb">
          <li><i class="glyphicon glyphicon-home"></i></li>
          <li><a href="$!{path}/admin/login">首页</a></li>
          <li><a href="#">医院管理</a></li>
        </ol>
      </div>
      <div class="row">
        <form id="form" class="form-horizontal" action="#" method="POST">
          <input type="hidden" id="entityId" name="id" value=""/>
          <input type="text" name="resourceIds" value=""/>
          <input type="text" name="resourceIds" value=""/>
          <input type="text" name="resourceIds" value=""/>

          <div class="form-group ">
            <label class="col-sm-2 control-label"><span class="required"> * </span>名称：</label>

            <div class="col-sm-6">
              <input type="text" class="form-control"
                     name="name" value="$!{entity.name}" maxlength="60"/>
            </div>
          </div>

          <div class="form-group ">
            <label class="col-sm-2 control-label"><span class="required"> * </span>描述：</label>

            <div class="col-sm-6">
              <input type="text" class="form-control"
                     name="description" value="$!{entity.description}" maxlength="100"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-2">
              <button type="button" id="save" class="btn btn-info">
                <i class="glyphicon glyphicon-export"></i>
                保存
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

    #parse("/WEB-INF/view/layout/bottom.vm")

<script src="$!{path}/static/sysRole/edit.js?staticVersion=$!{staticVersion}" type="text/javascript"></script>

</body>
</html>
