<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bob.biz.demoLock.mapper.DemoLockMapper">

	<resultMap id="BaseResultMap" type="com.bob.biz.demoLock.model.DemoLock">
		<result column="id" property="id" />
		<result column="brand" property="brand" />
		<result column="create_time" property="createTime" />
		<result column="create_user" property="createUser" />
		<result column="update_time" property="updateTime" />
		<result column="update_user" property="updateUser" />
	</resultMap>

	<resultMap id="VoResultMap" type="com.bob.biz.demoLock.model.DemoLockVo"
		extends="BaseResultMap">
	</resultMap>

	<sql id="tabaleName">demo_lock as t</sql>

	<sql id="baseColumn">
		t.id,
		t.brand,
		t.create_time,
		t.create_user,
		t.update_time,
		t.update_user
	</sql>

	<sql id="whereCondition">
		<where>

			<if test=" brand !=null and brand !='' ">
				and t.brand like '%$brand%'
			</if>

		</where>
	</sql>

	<select id="getVoById" parameterType="java.lang.String"
		resultType="com.bob.biz.demoLock.model.DemoLockVo">
		select
		<include refid="baseColumn" />
		from
		<include refid="tabaleName" />
		where id = #{id}
	</select>

	<select id="getList" parameterType="com.bob.biz.demoLock.model.DemoLockVo"
		resultMap="BaseResultMap">
		select
		<include refid="baseColumn" />
		from
		<include refid="tabaleName" />
		<include refid="whereCondition" />
	</select>

	<select id="getVoList" parameterType="com.bob.biz.demoLock.model.DemoLockVo"
		resultMap="VoResultMap">
		select
		<include refid="baseColumn" />
		from
		<include refid="tabaleName" />
		<include refid="whereCondition" />
	</select>

</mapper>