<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bob.modules.sysRoleResource.mapper.SysRoleResourceMapper">
    <resultMap id="BaseResultMap" type="com.bob.modules.sysRoleResource.entity.SysRoleResource">
        <result column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="resource_id" property="resourceId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <sql id="tabaleName">sys_role_resource</sql>

    <sql id="baseColumn">
        id,
        role_id,
        resource_id,
        status,
        create_time,
        create_user,
        update_time,
        update_user
    </sql>

    <sql id="whereCondition">
        <where>
            <if test=" id != null ">
                AND id = #{id}
            </if>
            <if test=" roleId != null ">
                AND role_id = #{roleId}
            </if>
            <if test=" resourceId != null ">
                AND resource_id = #{resourceId}
            </if>
            <if test=" status != null ">
                AND status = #{status}
            </if>
            <if test=" createTime != null ">
                AND create_time = #{createTime}
            </if>
            <if test=" createUser != null ">
                AND create_user = #{createUser}
            </if>
            <if test=" updateTime != null ">
                AND update_time = #{updateTime}
            </if>
            <if test=" updateUser != null ">
                AND update_user = #{updateUser}
            </if>
        </where>
    </sql>

    <sql id="queryCondition">
        <where>
        </where>
    </sql>

    <select id="count" parameterType="com.bob.modules.sysResource.entity.SysResourceQuery" resultType="java.lang.Long">
        SELECT count(*)
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
    </select>

    <select id="query" parameterType="com.bob.modules.sysResource.entity.SysResourceQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
        LIMIT #{startRow}, #{pageSize}
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO
        <include refid="tabaleName"/>
        (<include refid="baseColumn"/>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.roleId},#{item.resourceId},#{item.status},#{item.createTime},#{item.createUser},#{item.updateTime},#{item.updateUser})
        </foreach>
    </insert>
    
    <delete id="deleteByRoleId" parameterType="java.lang.String">
        DELETE FROM 
        <include refid="tabaleName"/>
        WHERE role_id = #{value}
    </delete>
</mapper>