<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bob.modules.sysResource.mapper.SysResourceMapper">
    <resultMap id="BaseResultMap" type="com.bob.modules.sysResource.entity.SysResource">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="res_url" property="resUrl"/>
        <result column="type" property="type"/>
        <result column="level" property="level"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <sql id="tabaleName">sys_resource</sql>

    <sql id="baseColumn">
        id,
        parent_id,
        name,
        res_url,
        type,
        level,
        description,
        status,
        create_time,
        create_user,
        update_time,
        update_user
	</sql>

    <sql id="whereCondition">
        <if test=" id !=null and id !='' ">
            AND id = #{id}
        </if>
        <if test=" parentId !=null and parentId !='' ">
            AND parent_id = #{parentId}
        </if>
        <if test=" name !=null and name !='' ">
            AND name = #{name}
        </if>
        <if test=" resUrl !=null and resUrl !='' ">
            AND res_url = #{resUrl}
        </if>
        <if test=" type !=null and type !='' ">
            AND type = #{type}
        </if>
        <if test=" level !=null and level !='' ">
            AND level = #{level}
        </if>
        <if test=" description !=null and description !='' ">
            AND description = #{description}
        </if>
        <if test=" status !=null and status !='' ">
            AND status = #{status}
        </if>
        <if test=" createTime !=null and createTime !='' ">
            AND create_time = #{createTime}
        </if>
        <if test=" createUser !=null and createUser !='' ">
            AND create_user = #{createUser}
        </if>
        <if test=" updateTime !=null and updateTime !='' ">
            AND update_time = #{updateTime}
        </if>
        <if test=" updateUser !=null and updateUser !='' ">
            AND update_user = #{updateUser}
        </if>
    </sql>

    <sql id="queryCondition">
        <where>
            <if test="name != null">
                AND name = #{name}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="com.bob.modules.sysResource.entity.SysResourceQuery" resultType="java.lang.Long">
        SELECT count(*)
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
    </select>

    <select id="query" parameterType="com.bob.modules.sysResource.entity.SysResourceQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
        LIMIT #{startRow}, #{pageSize}
    </select>

</mapper>