<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.biz.parameter.mapper.ParameterMapper">
	<resultMap id="BaseVoResultMap" type="com.mall.biz.parameter.model.ParameterVo">
		<result column="id" property="id" />
		<result column="category_id" property="categoryId" />
		<result column="categoryName" property="categoryName" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="is_delete" property="isDelete" />
		<result column="create_time" property="createTime" />
		<result column="create_user" property="createUser" />
		<result column="update_time" property="updateTime" />
		<result column="update_user" property="updateUser" />
	</resultMap>

	<sql id="tabaleName">parameter</sql>

	<sql id="aliasColumn">
		p.id,
		p.category_id,
		p.name,
		p.description,
		p.is_delete,
		p.create_time,
		p.create_user,
		p.update_time,
		p.update_user
	</sql>

	<select id="getList" parameterType="com.mall.biz.parameter.model.ParameterVo"
		resultMap="BaseVoResultMap">
		select
		c.name categoryName,
		<include refid="aliasColumn"></include>
		from
		<include refid="tabaleName"></include> p
		left join 
			category c
		on p.category_id = c.id
		<where>
			<if test=" categoryId!=null and categoryId!='' ">
				and category_id = categoryId,
			</if>
			<if test=" name!=null and name!='' ">
				and name like '%${name}%'
			</if>
			<if test=" description!=null and description!='' ">
				and description like '%${description}%'
			</if>
			<if test=" isDelete!=null and isDelete!='' ">
				and is_delete = isDelete,
			</if>
		</where>
		<if test=" sidx!=null and sidx!='' ">
			order by #{sidx}
		</if>
		<if test=" sord!=null and sord!='' ">
			#{sord}
		</if>
	</select>

</mapper>