/*override*/
.navbar-default {
    background-color: #ccc;
    border-color: #ccc;
}

.breadcrumb-override {
    padding: 0px 30px;
}

.content-header-override {
    padding: 8px 15px 3px 15px;
    background-color: #eaeaea;
}
