/*override*/
.navbar {
    margin-bottom: 0;
}

.breadcrumb {
    border-radius: 0;
}

.left-title {
    padding: 10px 0px 10px 25px;
    background-color: #dadada;
    font-size: 150%;
    font-weight: bold;
}
