/*override*/
.navbar-default{
    background-color: #ccc;
    border-color: #ccc;
}

.breadcrumb {
    border-radius: 0;
    line-height: 15px;
}


.left-title {
    padding: 10px 0px 10px 25px;
    background-color: #dadada;
    font-size: 120%;
    font-weight: bold;
    line-height: 12px;
}
