#set($title="资源管理")
#set($addJS=["/sysResource/list.js"])

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="$!{path}/admin/login"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">资源管理</li>
    </ol>
</section>


<div class="row btn-line">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="用户名称" id="name">
            </div>
            <a class="btn btn-info" href="#" role="button" id="btn-search">
                <i class="glyphicon glyphicon-search"></i>
                查询
            </a>
        </form>
    </div>
    <div class="col-md-3">
        <div class="btn-group right-btn">
            <button type="button" class="btn btn-default" id="btn-add" href="$!{path}/admin/sysResource/add">新增</button>
            <button type="button" class="btn btn-default" id="btn-del">删除</button>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <table id="grid-table" class="table table-condensed table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th data-column-id="id" data-identifier="true" data-type="string" data-visible="false">ID</th>
                <th data-column-id="name">name</th>
                <th data-column-id="description" data-sortable="false">description</th>
                <th data-column-id="resUrl" data-sortable="false" data-formatter="resUrl">resUrl</th>
            </tr>
            </thead>
        </table>
    </div>
</section>

