<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

<!-- Bootstrap core CSS -->
<link href="$!{path}/ext/bootStrap/css/bootstrap.min.css?staticVersion=$!{staticVersion}" rel="stylesheet">

<link rel="stylesheet" href="$!{path}/ext/artDialog/ui-dialog.css?staticVersion=$!{staticVersion}" type="text/css"/>

<!-- Custom styles for this template -->
<link href="$!{path}/resources/common/css/dashboard.css?staticVersion=$!{staticVersion}" rel="stylesheet">
