<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="$!{path}/ext/bootStrap/css/bootstrap.min.css?staticVersion=$!{staticVersion}">

<link rel="stylesheet" href="$!{path}/ext/bootgrid/jquery.bootgrid.min.css?staticVersion=$!{staticVersion}">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="$!{path}/static/common/css/AdminLTE.min.css?staticVersion=$!{staticVersion}">
<link rel="stylesheet" href="$!{path}/static/common/css/_all-skins.css?staticVersion=$!{staticVersion}">
<link rel="stylesheet" href="$!{path}/static/common/css/layout.css?staticVersion=$!{staticVersion}">
