<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/WEB-INF/view/layout/base.vm")
    #parse("/WEB-INF/view/layout/head.vm")
    <title>$!{title}</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        #parse("/WEB-INF/view/layout/navbar.vm")
        #parse("/WEB-INF/view/layout/menu.vm")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            $screen_content
        </div>
    </div>
    #parse("/WEB-INF/view/layout/bottom.vm")
    #foreach( $js in $!addJS )
    <script src="$!{path}/resources$!js?staticVersion=$!{staticVersion}"
            type="text/javascript"></script>
    #end
</body>
</html>
