<section class="left-section row">
  <div class="col-md-12">
    <div class="left-title row">
      系统配置管理
    </div>
    <ul class="left-ul row">
      <li style="margin-bottom: 10px;">
        <a href="${path}/admin/sysUser/list">
          <i class="glyphicon"></i>
          用户管理
        </a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="${path}/admin/sysRole/list">
          <i class="glyphicon"></i>
          角色管理
        </a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="${path}/admin/sysResource/list">
          <i class="glyphicon"></i>
          权限管理
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="left-section row">
  <div class="col-md-12">
    <div class="left-title row">
      系统监控
    </div>
    <ul class="left-ul row">
      <li style="margin-bottom: 10px;">
        <a href="${path}/admin/sysUser/list">
          <i class="glyphicon"></i>
          性能监控
        </a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="${path}/admin/sysRole/list">
          <i class="glyphicon"></i>
          登陆日志
        </a>
      </li>
    </ul>
  </div>
</section>
