<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">模块管理</li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>测试模块</span></a></li>
            <li class="header">系统管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>权限管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="${path}/admin/sysUser/list"><i class="fa fa-book"></i> <span>用戶管理</span></a></li>
                    <li><a href="${path}/admin/sysRole/list"><i class="fa fa-book"></i> <span>角色管理</span></a></li>
                    <li><a href="${path}/admin/sysResource/list"><i class="fa fa-book"></i> <span>菜单管理</span></a></li>
                </ul>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>日志管理</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
