<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bob.core.base.mapper.BaseMapper">

	<sql id="baseCondition">
		<if test=" id !=null and id !='' ">
			and t.id = #{id}
		</if>
		<if test=" createUser !=null and createUser !='' ">
			and t.create_user = #{createUser}
		</if>
		<if test=" updateUser !=null and updateUser !='' ">
			and t.update_user = #{updateUser}
		</if>
		<if test=" createTimeStart !=null and createTimeStart !='' ">
			and t.create_time <![CDATA[ > ]]>
			#{createTimeStart}
		</if>
		<if test=" createTimeEnd !=null and createTimeEnd !='' ">
			and t.create_time <![CDATA[ < ]]>
			#{createTimeEnd}
		</if>
		<if test=" updateTimeStart !=null and updateTimeStart !='' ">
			and t.update_time <![CDATA[ > ]]>
			#{updateTimeStart}
		</if>
		<if test=" updateTimeEnd !=null and updateTimeEnd !='' ">
			and t.update_time <![CDATA[ < ]]>
			#{updateTimeEnd}
		</if>
	</sql>

</mapper>