.site_title a {
	color: #ffffff;
}

.header {
	height: 70px;
	background-color: #000000;
}

.sidebar {
	background-color: #E0E0E3;
	min-height: 580px;
}

.btners {
	padding: 5px 0px 5px 0;
	margin: 20px 0 10px 0;
}

.search {
	float: right;
	margin-right: 10%;
}

.content {
	margin: 20px 0 10px 0;
}

.footer {
	height: 70px;
	background-color: #000000;
}
