.site_title a {
	color: #ffffff;
}

.header {
	height: 70px;
	background-color: #000000;
}

.sidebar {
	background-color: #E0E0E3;
	min-height: 560px;
}

.btner {
	padding: 5px 0px 5px 0px;
	margin: 20px 0 10px 5%;
}

.search {
	float: right;
	margin-right: 20%;
}

.footer {
	height: 70px;
	background-color: #000000;
}