<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bob.modules.sysUser.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.bob.modules.sysUser.entity.SysUser">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="pass_word" property="passWord"/>
        <result column="salt" property="salt"/>
        <result column="dep_id" property="depId"/>
        <result column="dep_code" property="depCode"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <sql id="tabaleName">sys_user</sql>

    <sql id="baseColumn">
        id,
        user_name,
        nick_name,
        pass_word,
        salt,
        dep_id,
        dep_code,
        status,
        create_time,
        create_user,
        update_time,
        update_user
    </sql>

    <sql id="whereCondition">
        <where>
            <if test=" id != null ">
                AND id = #{id}
            </if>
            <if test=" userName != null ">
                AND user_name = #{userName}
            </if>
            <if test=" nickName != null ">
                AND nick_name = #{nickName}
            </if>
            <if test=" passWord != null ">
                AND pass_word = #{passWord}
            </if>
            <if test=" salt != null ">
                AND salt = #{salt}
            </if>
            <if test=" depId != null ">
                AND dep_id = #{depId}
            </if>
            <if test=" depCode != null ">
                AND dep_code = #{depCode}
            </if>
            <if test=" status != null ">
                AND status = #{status}
            </if>
            <if test=" createTime != null ">
                AND create_time = #{createTime}
            </if>
            <if test=" createUser != null ">
                AND create_user = #{createUser}
            </if>
            <if test=" updateTime != null ">
                AND update_time = #{updateTime}
            </if>
            <if test=" updateUser != null ">
                AND update_user = #{updateUser}
            </if>
        </where>
    </sql>

    <sql id="queryCondition">
        <where>
        </where>
    </sql>

    <select id="count" parameterType="com.bob.modules.sysResource.entity.SysResourceQuery" resultType="java.lang.Long">
        SELECT count(*)
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
    </select>

    <select id="query" parameterType="com.bob.modules.sysResource.entity.SysResourceQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM
        <include refid="tabaleName"/>
        <include refid="queryCondition"/>
        LIMIT #{startRow}, #{rowCount}
    </select>

    <select id="getByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM
        <include refid="tabaleName"/>
        WHERE user_name = #{value}
    </select>

</mapper>