<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.biz.organization.mapper.OrganizationMapper">
	<resultMap id="BaseResultMap" type="com.mall.biz.organization.model.Organization">
		   <result column="id" property="id" />
		   <result column="parent_id" property="parentId" />
		   <result column="code" property="code" />
		   <result column="name" property="name" />
		   <result column="full_name" property="fullName" />
		   <result column="create_time" property="createTime" />
		   <result column="create_user" property="createUser" />
		   <result column="update_time" property="updateTime" />
		   <result column="update_user" property="updateUser" />
	</resultMap>

	<sql id="tabaleName">organization</sql>

	<sql id="baseColumn">
		id,
		parent_id,
		code,
		name,
		full_name,
		create_time,
		create_user,
		update_time,
		update_user
	</sql>

	<select id="getList" parameterType="com.mall.biz.organization.model.OrganizationVo"
		resultMap="BaseResultMap">
		select
		<include refid="baseColumn"></include>
		from
		<include refid="tabaleName"></include>
		<where>
			<if test=" code!=null and code!='' ">
				and code like '%${code}%'
			</if>
			<if test=" name!=null and name!='' ">
				and name like '%${name}%'
			</if>
			<if test=" fullName!=null and fullName!='' ">
				and full_name like '%${fullName}%'
			</if>
			<if test=" parentId!=null and parentId!='' ">
				and parent_id = #{parentId}
			</if>
		</where>
		<if test=" sidx!=null and sidx!='' ">
			order by #{sidx}
		</if>
		<if test=" sord!=null and sord!='' ">
			#{sord}
		</if>
	</select>

	<select id="getCodeByParentId" parameterType="String" resultType="String">
		select
			MAX(code)
		from
		<include refid="tabaleName"></include>
		where 
		parent_id = #{parentId}
	</select>


</mapper>