<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.biz.simple.mapper.SimpleMapper">
	<resultMap id="BaseResultMap" type="com.mall.biz.simple.model.Simple">
		<id property="id" column="id" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="name" column="name" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="age" column="age" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="birthDay" column="birth_day" javaType="java.Time.LocalDateTime"
			jdbcType="DATE" />
		<result property="score" column="score" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="isGraduated" column="is_graduated" javaType="java.lang.Boolean"
			jdbcType="BIT" />
		<result property="createTime" column="create_time" javaType="java.Time.LocalDateTime"
			jdbcType="TIME" />
		<result property="createUser" column="create_user" javaType="java.lang.Integer"
			jdbcType="VARCHAR" />
		<result property="updateTime" column="update_time" javaType="java.Time.LocalDateTime"
			jdbcType="TIME" />
		<result property="updateUser" column="update_user" javaType="java.lang.Integer"
			jdbcType="VARCHAR" />
	</resultMap>
</mapper>